.catalog-filters {
  padding-bottom: 1.5rem; }
  .catalog-filters .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #000;
    background-color: #000; }

.filter-option {
  padding: .8rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: #363636;
  cursor: pointer;
  display: flex;
  align-items: center; }

[class*="quantity"] {
  margin-left: auto; }

.filter-checklist {
  margin-bottom: 1.5rem; }

.collapse-arrow {
  background: url(../img/icons/icon-right-arrow.png) center no-repeat;
  background-size: contain;
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin-left: .8rem;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .22s linear; }

.collapse-arrow.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.filter-control {
  position: relative;
  display: block;
  margin: 1rem 0;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .filter-control > * {
    font-size: 1.5rem;
    cursor: pointer; }

.show-all-options {
  border-bottom: 1.1px solid #000;
  width: max-content;
  padding-bottom: 1px;
  margin-bottom: 2rem; }
  .show-all-options:hover {
    color: #9c020d;
    border-color: #9c020d; }

#min-price,
#max-price {
  max-width: 40%;
  font-size: 1rem;
  border: none; }

.filter-price-range {
  margin-top: 1.5rem;
  border-radius: 0rem;
  background: #000 !important;
  height: 0.2rem !important; }
  .filter-price-range span {
    background: #000 !important;
    width: 0.4rem !important;
    height: 2rem !important;
    margin-top: -0.7rem !important;
    border-radius: 0px !important;
    cursor: pointer !important; }

.ui-slider .ui-slider-range {
  background: #9c020d !important;
  border-radius: 0;
  height: .1rem !important;
  margin-top: -1px; }

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.2rem !important; }

.filter-buttons {
  display: flex; }

.show-filtered,
.clear-filtered {
  width: 12rem; }
  .show-filtered:hover,
  .clear-filtered:hover {
    background: #9c020d;
    color: #fff;
    transform: none; }
  .show-filtered:active,
  .clear-filtered:active {
    background: #700209; }

.clear-filtered {
  border-color: #000;
  margin-left: 1rem; }
  .clear-filtered:focus {
    border: 1px solid #000; }

.sort-catalog-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.sort-catalog-form .form-group {
  display: flex;
  align-items: center;
  margin: 0; }

.sort-left .form-control {
  border: none;
  padding: 0px;
  font-size: 1.6rem;
  padding-left: 0.5rem;
  cursor: pointer; }
  .sort-left .form-control:focus {
    border: none;
    box-shadow: none; }

.sort-left label {
  margin: 0;
  font-size: 1.6rem; }

.sort-right__label {
  display: inline-block;
  vertical-align: baseline;
  font-size: 1.6rem;
  margin-right: .5rem; }

.sort-right .form-check-input {
  opacity: 0;
  position: absolute;
  top: -12px; }
  .sort-right .form-check-input:checked + .form-check-label {
    font-weight: 600; }

.sort-right .form-check-label {
  cursor: pointer;
  font-size: 1.6rem; }

.catalog-products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.catalog-product {
  width: 29%;
  margin: 2rem 0;
  padding: 3rem .8rem .5rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .catalog-product__img {
    max-width: 100%;
    height: 20rem;
    display: block;
    margin: 0 auto; }
  .catalog-product__name {
    font-size: 1.6rem;
    margin-top: 1rem; }

.catalog-product-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 7rem;
  position: absolute;
  top: 0;
  left: 0; }
  .catalog-product-labels > div {
    margin: 0; }
  .catalog-product-labels > div:not(:nth-child(odd)) {
    margin-left: 1rem; }
  .catalog-product-labels .product-labels__present {
    margin: 0;
    height: 2.6rem;
    display: block; }

.catalog-product-prices {
  margin-bottom: 1rem; }

.catalog-product-prices .profit-price__gain {
  margin: 1.5rem 0 .4rem; }

.catalog-product-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.one-click {
  font-size: 1.6rem;
  width: max-content;
  cursor: pointer; }
  .one-click:hover {
    color: #9c020d;
    border-color: #9c020d; }
  .one-click:active {
    color: #700209; }

.icon-compare {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icons/icon-compare.png) center no-repeat;
  background-size: contain; }

@media (max-width: 1200px) {
  .catalog-products-list {
    justify-content: space-around; }
  .catalog-product {
    width: 40%; } }

@media (max-width: 576px) {
  .sort-catalog-form {
    display: none; }
  .catalog-wrapper {
    width: 90%; }
  .catalog-product {
    width: 80%;
    min-width: 30rem; } }

.categor-wrapper .brick-link {
  max-width: 17rem;
  border: 1px solid;
  min-width: min-content; }

.categor-container {
  margin-bottom: 4rem; }

.grid-wrapper--kulers .br-gr-2 {
  grid-column: 2;
  grid-row: 1; }

.grid-wrapper--kulers .br-gr-3 {
  grid-column: 3;
  grid-row: 1; }

.grid-wrapper--kulers .br-gr-4 {
  grid-column: 2 / 4;
  grid-row: 2; }

.grid-wrapper--filtered {
  grid-template-columns: 1fr 1fr; }
  .grid-wrapper--filtered .br-gr-1 {
    grid-column: 1 / 2;
    grid-row: 1; }
  .grid-wrapper--filtered .br-gr-2 {
    grid-column: 2 / 3;
    grid-row: 1; }

.grid-wrapper--filters .br-gr-1 {
  grid-column: 1 / 2;
  grid-row: 1; }

.grid-wrapper--filters .br-gr-2 {
  grid-column: 1 / 2;
  grid-row: 2; }

.grid-wrapper--filters .br-gr-3 {
  grid-row: 1 / 3; }

.grid-wrapper--filters .br-gr-5 {
  grid-column: 1 / 3;
  grid-row: 3; }

.grid-wrapper--filters .br-gr-6 {
  grid-column: 3 / 4;
  grid-row: 3; }

.grid-wrapper--filters .br-gr-7 {
  grid-column: 1 / 3;
  grid-row: 4; }

.grid-wrapper--filters .br-gr-8 {
  grid-column: 3 / 4;
  grid-row: 4; }

.grid-wrapper--filters .br-gr-9 {
  grid-column: 1;
  grid-row: 5 / 7; }

.grid-wrapper--filters .br-gr-10 {
  grid-column: 2 / 4;
  grid-row: 5; }

.grid-wrapper--filters .br-gr-11 {
  grid-column: 2 / 4;
  grid-row: 6; }

.grid-wrapper--services .br-gr-1 {
  grid-column: 1 / 3;
  grid-row: 1; }

.grid-wrapper--services .br-gr-2 {
  grid-column: 3;
  grid-row: 1; }

.grid-wrapper--services .br-gr-3 {
  grid-column: 1 / 3;
  grid-row: 2; }

.grid-wrapper--services .br-gr-4 {
  grid-column: 3;
  grid-row: 2; }
