/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #000; }

button {
  outline: none;
  border: none; }
  button:hover, button:focus {
    outline: none;
    border: none; }

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none; }

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent; }

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0; }

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto; }

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto; }

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold; }

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: 22rem; }

.br-gr-1 {
  grid-column: 1;
  grid-row: 1 / 3; }

.br-gr-2 {
  grid-column: 2;
  grid-row: 1; }

.br-gr-3 {
  grid-column: 2;
  grid-row: 2; }

.br-gr-4 {
  grid-column: 3;
  grid-row: 1 / 3; }

.br-gr-5 {
  grid-column: 3;
  grid-row: 3; }

.br-gr-6 {
  grid-column: 3;
  grid-row: 4; }

.br-gr-7 {
  grid-column: 1 / 3;
  grid-row: 3 / 5; }

.br-gr-8 {
  grid-column: 1;
  grid-row: 5; }

.br-gr-9 {
  grid-column: 2 / 4;
  grid-row: 5; }

@media (max-width: 991.98px) {
  .brick-link {
    width: 100% !important;
    font-size: 1.7rem !important;
    text-align: center; }
  .br-gr-1 {
    grid-column: 3; }
  .br-gr-2,
  .br-gr-3 {
    grid-column: 1 / 3; }
  .br-gr-4 {
    grid-column: 1;
    grid-row: 3 / 5; }
  .br-gr-5,
  .br-gr-6 {
    grid-column: 2 / 4; }
  .br-gr-7 {
    grid-column: 1 / 4;
    grid-row: 5 / 7;
    flex-direction: column;
    justify-content: space-evenly !important; }
    .br-gr-7 .brick-picture {
      max-width: 90%; }
  .br-gr-8 {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    flex-direction: row-reverse; }
  .br-gr-9 {
    grid-column: 1 / 4;
    grid-row: 8 / 9; }
  .br-gr-1,
  .br-gr-4 {
    flex-direction: column;
    justify-content: space-around !important; } }

html {
  font-size: 62.5%; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1;
  color: #363636; }

p, a, li {
  font-size: 1.4rem; }

h1 {
  font-size: 3.9rem; }

h2 {
  font-size: 3.4rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 1.8rem; }

.bg-red {
  background-color: #b6030f; }

.bg-grey-1 {
  background-color: #ebebeb; }

.bg-grey-2 {
  background-color: #f6f4f4; }

.bg-green {
  background-color: #a5d2cd; }

.bg-blue {
  background-color: #dfebf0; }

.button {
  display: inline-block;
  border-radius: 2px;
  transform: scale(1);
  transition: all .2s;
  cursor: pointer; }
  .button:hover, .button:focus {
    transform: scale(1.09); }
  .button:active {
    transform: scale(1); }

.red-buy-btn, .one-click-btn {
  border: 1px solid #b6030f;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  width: 22rem;
  height: 4.2rem;
  padding-top: 1.3rem;
  background-color: #b6030f;
  color: #fff;
  transition: all .2s;
  cursor: pointer;
  backface-visibility: hidden;
  font-size: 1.5rem; }
  .red-buy-btn:hover, .one-click-btn:hover, .red-buy-btn:focus, .one-click-btn:focus {
    transform: scale(1.01);
    transform-origin: 0% 0; }
  .red-buy-btn:active, .one-click-btn:active {
    transform: scale(1);
    transform-origin: 0% 0; }

.one-click-btn {
  background-color: #fff;
  color: #363636;
  border: 1px solid #b6030f; }
  .one-click-btn:hover, .one-click-btn:focus {
    transform: scale(1);
    transform-origin: 0% 0; }
  .one-click-btn:active {
    transform: scale(1);
    transform-origin: 0% 0; }

.icon, .icon-key, .icon-location, .icon-delivery {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain; }

.icon-key {
  background: url(../img/icons/icon-wrench.png) center no-repeat;
  background-size: 2rem; }

.icon-location {
  background: url(../img/icons/icon-location.png) center no-repeat; }

.icon-delivery {
  background: url(../img/icons/icon-deliver.png) center no-repeat; }

.round-icon {
  background-color: #027468;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer; }

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 1px 6px 6px rgba(0, 0, 0, 0.1); }

.row-reverse {
  flex-direction: row-reverse;
  padding: 0 !important; }

.container-fluid {
  padding: 0; }

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  padding: 1.5rem 0; }

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 40rem; }
  .header-logo__link {
    width: 100%;
    max-width: 18rem;
    display: block; }
  .header-logo__img {
    max-width: 80%;
    min-width: 9rem;
    height: auto; }
  .header-logo__text {
    line-height: 1.2;
    margin-top: 1.2rem; }

.header-phone {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  flex-wrap: wrap; }
  .header-phone__city {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    color: #6d6d6d;
    margin-bottom: .2rem; }
  .header-phone__number {
    font-size: 1.8rem;
    display: inline-block;
    margin-left: .4rem; }

.header-mail {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  flex-wrap: wrap; }
  .header-mail__address {
    font-size: 1.8rem;
    display: inline-block;
    margin-left: .4rem; }

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-links__profile {
    margin-left: .4rem; }

.header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem; }
  .header-basket__text {
    font-size: 1.2rem;
    font-weight: 600;
    width: 80%;
    margin: 0; }
  .header-basket__price {
    font-weight: 900;
    display: inline-block;
    margin-top: .4rem; }

.navbar {
  background-color: #b6030f;
  margin-top: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 1px 6px 6px rgba(0, 0, 0, 0.1); }

.nav-link {
  color: #fff;
  font-size: 1.6rem; }

.dropdown-menu .nav-link {
  color: #000; }

.custom-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navbar-nav {
  align-items: flex-end;
  padding: 1rem 0; }

.hover-products.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  left: -2rem;
  top: 3.2rem;
  border-radius: 3px;
  box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.1), 0px 0.8rem 0.8rem rgba(0, 0, 0, 0.1); }

.hover-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem;
  flex-basis: 25%;
  flex-direction: column; }
  .hover-product:not(:last-child) {
    border-right: 1px solid #ebebeb; }
  .hover-product__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
    margin-bottom: 3.5rem; }
  .hover-product__img {
    max-width: 100%;
    height: 100%; }
  .hover-product__category {
    text-decoration: underline;
    margin-top: 1rem; }
  .hover-product__link {
    margin-top: 1rem;
    width: 100%; }

.navbar-toggler-icon {
  background-image: url("../img/icons/icon-burger.png");
  width: 4rem;
  height: 4rem;
  background-size: auto; }

.header-search {
  height: 2rem;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.4rem; }
  .header-search:focus {
    box-shadow: none;
    background: inherit;
    color: #fff; }

.icon-search {
  background: url(../img/icons/icon-search.png) center no-repeat;
  border: none;
  background-size: contain; }
  .icon-search:focus {
    outline: none; }

@media (max-width: 1199.98px) {
  .hover-products {
    width: 1140px; }
  .header-logo {
    max-width: 32rem; }
    .header-logo__link {
      max-width: 14rem; } }

@media (max-width: 991.98px) {
  .header-info {
    position: absolute;
    top: 1.9rem; }
  .navbar {
    background-color: transparent;
    padding-bottom: 1rem; }
    .navbar .nav-link {
      color: #363636;
      text-align: end; }
  .custom-navbar {
    display: block; }
  .header span {
    font-size: 1.2rem; }
  .header-logo {
    width: auto; }
    .header-logo__text {
      display: none; }
  .navbar-toggler-icon {
    margin-top: -1rem; }
  .hover-products {
    width: 960px; } }

@media (max-width: 767.98px) {
  .header-basket__text {
    display: none; }
  .header-bascket__icon {
    width: 3.2rem;
    height: auto; }
  .header-phone,
  .header-mail {
    display: none; }
  .hover-products {
    width: 520px; } }

@media (max-width: 575.98px) {
  .header-info {
    justify-content: flex-start; } }

@media (min-width: 1200px) {
  .hover-products {
    width: 1140px; } }

.footer {
  background-color: black;
  margin-top: 8rem;
  padding: 2rem 1rem;
  widows: 100%; }

.footer-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  flex-wrap: wrap;
  margin: 0 auto; }

.head-link {
  font-size: 1.8rem;
  margin-bottom: 1.5rem; }

.footer-box {
  display: flex;
  flex-wrap: wrap;
  width: 18%;
  min-width: 12rem;
  margin-top: 2.5rem; }
  .footer-box__link {
    color: #fff;
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    line-height: 1.4;
    transition: color .4s; }
    .footer-box__link:hover, .footer-box__link:focus {
      color: #b6030f; }

.footer-bottom {
  border-top: 1px solid #f6f4f4;
  margin-top: 2rem; }
  .footer-bottom__rights {
    font-size: 1.2rem;
    padding: 2rem 1rem 0;
    color: #ffffff; }

@media (max-width: 767.98px) {
  .footer-box {
    width: 30%; } }

@media (max-width: 575.98px) {
  .footer-box {
    width: 50%; } }

.sale-card-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sale-card {
  margin: 1rem;
  max-width: 36.1rem; }
  .sale-card__coupon {
    max-width: 100%;
    height: auto; }

.profit-kits {
  margin-top: 8rem;
  border-radius: 3px; }
  .profit-kits__head {
    margin-bottom: 4rem; }
  .profit-kits__container {
    justify-content: space-between;
    padding-bottom: 2rem; }

.profit-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.profit-product {
  display: flex;
  margin-top: 5rem; }

.product-labels {
  position: absolute;
  top: 0;
  left: 1.5rem;
  display: flex; }
  .product-labels__new, .product-labels__sale, .product-labels__present, .product-labels__bonus {
    display: inline-block;
    padding: .7rem 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    background-color: #f7941d;
    margin-right: .4rem; }
  .product-labels__sale, .product-labels__present {
    background-color: #b6030f; }
  .product-labels__present {
    background-image: url(../img/icons/icon-present.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem; }

.product-img {
  width: 50%; }
  .product-img img {
    height: 20rem; }

.product-info {
  width: 50%; }
  .product-info__price {
    margin-top: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic; }
    .product-info__price--old, .product-info__price--new {
      margin-top: .5rem; }
    .product-info__price--new {
      color: #6d6d6d;
      text-decoration: line-through;
      font-size: 1.4rem; }

.profit-price {
  padding: 0; }
  .profit-price__basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2rem 1.5rem 0 0; }
  .profit-price__price {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    color: #027468; }
  .profit-price__btn {
    width: 5rem;
    height: 3.5rem;
    background-color: #b6030f;
    background-image: url(../img/icons/icon-basket-white.png);
    background-size: 1.3rem;
    background-repeat: no-repeat;
    background-position: center; }
  .profit-price__gain {
    margin: 0 auto;
    border: 1px solid #b6030f;
    width: 16rem;
    text-align: center;
    padding: .8rem;
    margin: 2rem auto;
    font-size: 1.5rem;
    color: #b6030f; }
    .profit-price__gain p {
      margin: 0; }
  .profit-price__service {
    display: flex;
    text-transform: lowercase; }
    .profit-price__service .icon, .profit-price__service .icon-key, .profit-price__service .icon-location, .profit-price__service .icon-delivery {
      width: 3.2rem; }
    .profit-price__service p {
      display: inline;
      margin-left: .5rem; }

@media (max-width: 767.98px) {
  .profit-wrapper {
    padding: 2rem; }
  .profit-price {
    padding: 1.5rem; }
    .profit-price__basket {
      margin-top: 0;
      justify-content: space-evenly; }
    .profit-price__gain {
      width: 80%; }
  .product-info {
    width: 70%; } }

.slider-wrapper {
  margin-top: 8rem; }

.our-shop-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.our-shop-slider .slick-slide {
  width: 100%;
  min-height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.our-shop-slider .slick-slide img {
  max-width: 100%;
  height: auto; }

.our-shop-slider .slick-dots {
  border-top: 1px solid #e0e0e0; }

.our-shop-slider .slick-dots li button {
  height: 4px;
  width: 4rem; }

.our-shop-slider .slick-dots li button:before {
  height: .4rem;
  width: 4rem;
  color: transparent;
  top: -6px; }

.our-shop-slider .slick-dots li.slick-active button:before {
  opacity: .75;
  background-color: red; }

.our-shop-slider .slick-dots li {
  margin: 0 4%; }

.our-shop {
  margin: 1rem;
  max-width: 35rem; }
  .our-shop__img {
    max-width: 100%;
    height: auto; }

.our-shop.slick-slide.slick-center + .slick-slide {
  transition: all .7s;
  transform: scale(0.5) translate(-100px);
  z-index: 10; }

.our-shop.slick-slide {
  transition: all .7s;
  transform: scale(0.5) translate(100px); }

.our-shop.slick-slide.slick-center {
  transition: all .7s;
  transform: scale(1.4);
  z-index: 30; }

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 50px;
  margin-top: -25px;
  border: none;
  color: #6d6d6d;
  font-family: monospace;
  font-size: 5rem;
  z-index: 900;
  outline: none; }
  .slick-arrow:hover, .slick-arrow:focus, .slick-arrow:active {
    color: #6d6d6d;
    color: #a0a0a0; }

.our-shop-slider .slick-prev {
  left: 7rem;
  text-align: left; }

.our-shop-slider .slick-next {
  right: 7rem;
  text-align: right; }

.our-shop-slider .slick-prev:before,
.our-shop-slider .slick-next:before {
  display: none; }

.collapse-wrapper {
  margin-top: 8rem; }
  .collapse-wrapper .collapse-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .collapse-wrapper .collapse-head__text {
      margin: 0 0 0 1.5rem;
      cursor: pointer; }
  .collapse-wrapper .card {
    border: none; }
  .collapse-wrapper .card-header {
    background: transparent; }
  .collapse-wrapper .card-body {
    padding: 1rem 8%; }
    .collapse-wrapper .card-body__content {
      line-height: 1.5; }

.icon-test,
.icon-card,
.icon-box,
.icon-hand {
  background-image: url("../img/icons/icon-test.png");
  background-repeat: no-repeat;
  background-position: center; }

.icon-card {
  background-image: url("../img/icons/icon-credit.png"); }

.icon-box {
  background-image: url("../img/icons/icon-box.png"); }

.icon-hand {
  background-image: url("../img/icons/icon-hand.png"); }

.write-to {
  border: 1px;
  display: flex;
  margin-top: 2rem; }
  .write-to__avatar {
    width: 6.4rem;
    height: 4.2rem;
    margin-left: 1.5rem;
    border-radius: 2px; }
    .write-to__avatar img {
      max-width: 100%;
      height: auto; }

.feedback-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.feedback__box {
  text-align: center;
  margin-bottom: 2rem;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feedback__img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #f6f4f4; }

.partners-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap; }

.partners-item {
  width: 15%;
  min-width: 15rem;
  margin-top: 2rem; }
  .partners-item:not(:first-child) {
    margin-left: 2rem; }
  .partners-item__img {
    -webkit-filter: grayscale(100%) opacity(0.55);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) opacity(0.55);
    transition: all .2s; }
    .partners-item__img:hover, .partners-item__img:focus {
      -webkit-filter: grayscale(1%) opacity(1);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(1%) opacity(1); }

.cart-slider-wrapper {
  display: flex;
  align-items: center; }

.cart-slider {
  font-family: Arial;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto; }
  .cart-slider .slick-dots li {
    border: 2px solid #027468;
    border-radius: 50%; }
  .cart-slider .slick-dots li button:before {
    content: "";
    background-color: #027468;
    border-radius: 50%;
    width: 16px;
    height: 16px; }

.cart-slider-for__slide {
  display: flex !important;
  justify-content: center; }

.cart-slider-for__img {
  width: auto;
  height: 100%; }

.cart-slider-for .slick-slide {
  height: 35rem;
  padding: 1rem; }

.cart-slider-nav {
  height: 33rem;
  display: flex !important;
  justify-content: center;
  width: 30%; }
  .cart-slider-nav__img {
    width: auto;
    max-height: 100%; }

.left-slide {
  border: 1px solid red;
  margin: 1rem 0;
  height: 9rem !important;
  display: flex !important;
  justify-content: center;
  align-items: center; }

@media (max-width: 992px) {
  .cart-slider-wrapper {
    padding: 0; }
  .cart-slider-nav {
    display: none !important; } }

.product-cart-price {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; }
  .product-cart-price--old {
    color: #027468;
    color: #6d6d6d;
    text-decoration: line-through;
    font-size: 1.8rem;
    padding-top: 0.5rem; }
  .product-cart-price--new {
    color: #027468;
    margin-right: 1rem; }
  .product-cart-price .profit-price__gain {
    margin: 0; }

.tab-wrapper {
  margin-top: 8rem;
  padding: 0; }
  .tab-wrapper .nav-link {
    color: #000;
    cursor: pointer; }
  .tab-wrapper .tab-pane {
    padding-top: 2.5rem;
    font-size: 1.6rem;
    min-height: 40rem; }
  .tab-wrapper .table th,
  .tab-wrapper .table td {
    padding: 1.05rem;
    border: none;
    font-weight: 100; }
  .tab-wrapper .nav-tabs .nav-item.show .nav-link,
  .tab-wrapper .nav-tabs .nav-link.active {
    border-color: #fff #fff #01544b;
    border-bottom-width: 2px;
    cursor: pointer; }

.bonus {
  text-align: center; }
  .bonus h1, .bonus h2 {
    margin-bottom: auto;
    color: #027468; }
  .bonus h2 {
    display: inline-block; }
  .bonus h1 {
    color: #363636; }
  .bonus--text-red {
    color: #b6030f; }

.bonus-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0 5%; }
  .bonus-body__text {
    line-height: 1.5;
    padding: 1rem 1rem 0;
    text-align: left; }
    .bonus-body__text p {
      font-size: 1.7rem; }
  .bonus-body--reverse {
    flex-direction: row-reverse; }

@media (max-width: 768px) {
  .bonus-body {
    flex-direction: column-reverse;
    padding: none; } }

.product-wrapper {
  margin-top: 2rem;
  display: flex;
  min-height: 35rem;
  border-radius: 2px;
  border: 2px solid #ebebeb; }

.cart-product-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.product-info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap; }

.product-list {
  min-width: 20rem;
  padding-left: .5rem;
  list-style-type: none; }
  .product-list__item {
    font-size: 1.6rem;
    margin-bottom: .5rem; }
    .product-list__item:before {
      content: "-";
      margin-right: 5px; }

.product-location {
  max-width: 60%; }
  .product-location__address, .product-location__delivery {
    display: flex;
    flex-wrap: wrap; }
    .product-location__address span, .product-location__delivery span {
      display: inline-block;
      margin-right: .5rem; }
    .product-location__address p, .product-location__delivery p {
      width: 100%;
      margin-left: 3rem; }

@media (max-width: 992px) {
  .product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 7rem 0 2rem; }
  .cart-poruct-name {
    position: absolute;
    top: -44rem;
    left: 2rem; }
  .cart-product-info {
    flex-direction: column-reverse; }
  .product-info-body {
    margin-top: 2rem; }
  .product-cart-price {
    order: 1;
    justify-content: space-evenly;
    margin: 2rem 0; }
    .product-cart-price__prices {
      display: flex; }
    .product-cart-price .profit-price__gain {
      width: auto; }
  .product-location {
    max-width: 100%; }
  .product-buttons {
    text-align: center; } }

[class*="br-gr"] {
  border-radius: 2px;
  padding: 0 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

svg {
  width: 16px;
  height: 16px; }

.icon-arrow {
  background: url(../img/icons/icon-left-arrow.png) center no-repeat;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  -webkit-transition: margin-left .1s;
  transition: margin-left .1s;
  background-position-y: 0.9rem; }

.brick-link {
  font-size: 2rem;
  color: #363636;
  display: block; }
  .brick-link:hover .icon-arrow {
    margin-left: .2rem; }

.brick-picture {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover; }
