.partners-wrapper {
    @include flex(center, center);
    flex-wrap: wrap;
}

.partners-item {
    width: 15%;
    min-width: 15rem;
    margin-top: 2rem;

    &:not(:first-child) {
        margin-left: 2rem;
    }

    &__img {
        -webkit-filter: grayscale(100%) opacity(.55); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) opacity(.55);
        transition: all .2s;

        &:hover,
        &:focus {
            -webkit-filter: grayscale(1%) opacity(1); /* Safari 6.0 - 9.0 */
            filter: grayscale(1%) opacity(1);
        }
    }

}

@media (max-width: 420px) {
    .partners-wrapper {
        justify-content: space-between;
        padding: 0 1rem;
        flex-wrap: wrap;
    }
    .partners-item:not(:first-child) {
        margin-left: 0rem;
    }
    .partners-item {
        text-align: center;
        &__img {
            width: 75%;
        }
    }
}