.catalog-filters {
  padding-bottom: 1.5rem;

  .custom-control-input:checked~.custom-control-label::before {
    border-color: #000;
    background-color: #000;
  }
}

.filter-option {
  padding: .8rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: #363636;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="quantity"] {
  margin-left: auto;
}

.filter-checklist {
  margin-bottom: 1.5rem;
}

.collapse-arrow {
  background: url(../img/icons/icon-right-arrow.png) center no-repeat;
  background-size: contain;
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin-left: .8rem;
  -webkit-transition: all .5s linear;
  -webkit-transition: all .22s linear;
  transition: all .22s linear;
}

.collapse-arrow.down {
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

.filter-control {
  position: relative;
  display: block;
  margin: 1rem 0;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;

  & > * {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.show-all-options {
  border-bottom: 1.1px solid #000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
    padding-bottom: 1px;
    margin-bottom: 2rem;

    &:hover {
      color:#9c020d;
      border-color: #9c020d;
    }
}

#min-price,
#max-price {
  max-width: 40%;
  font-size: 1rem;
  border: none;
}

.filter-price-range {
  margin-top: 1.5rem;
  border-radius: 0rem;
  background: #000 !important;
  height: 0.2rem !important;

  span {
    background: #000 !important;
    width: 0.4rem !important;
    height: 2rem !important;
    margin-top: -0.7rem !important;
    border-radius: 0px !important;
    cursor: pointer !important;
  }
}

.ui-slider .ui-slider-range {
  background: #9c020d !important;
  border-radius: 0;
  height: .1rem !important;
  margin-top: -1px;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.2rem !important;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-filtered,
.clear-filtered {
  width: 12rem;

  &:hover {
    background: #9c020d;
    color: #fff;
    -webkit-transform: none;
            transform: none;
  }
  &:active {
    background: #700209;
  }
}
.clear-filtered {
  border-color: #000;
  margin-left: 1rem;

  &:focus {
    border: 1px solid #000;
  }
}



.sort-catalog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sort-catalog-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}


.sort-left {
  .form-control {
    border: none;
    padding: 0px;
    font-size: 1.6rem;
    padding-left: 0.5rem;
    cursor: pointer;
    &:focus {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }
  label {
    margin: 0;
    font-size: 1.6rem;
  }
}

.sort-right {
  &__label {
    display: inline-block;
    vertical-align: baseline;
    font-size: 1.6rem;
    margin-right: .5rem;
  }
  .form-check-input {
    opacity: 0;
    position: absolute;
    top: -12px;

    &:checked + .form-check-label {
      font-weight: 600;
    }
  } 

  .form-check-label {
    cursor: pointer;
    font-size: 1.6rem;
  }
}


.catalog-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 29%;
  margin: 2rem 0;
  padding: 3rem .8rem .5rem;
  position: relative;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &__img {
    max-width: 100%;
    height: 20rem;
    display: block;
    margin: 0 auto;
  }

  &__name {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}

.catalog-product-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 7rem;
  position: absolute;
  top: 0;
  left: 0;

  & > div {
    margin: 0;
  }
  & > div:not(:nth-child(odd)) {
    margin-left: 1rem;
  }

  .product-labels__present {
    margin: 0;
    height: 2.6rem;
    display: block;
  }
}

.catalog-product-prices {
  margin-bottom: 1rem;
}

.catalog-product-prices .profit-price__gain {
  margin: 1.5rem 0 .4rem;
}

.catalog-product-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.one-click {
  font-size: 1.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  &:hover {
    color: #9c020d;
    border-color: #9c020d;
  }
  &:active {
    color: #700209;
  }
}

.icon-compare {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icons/icon-compare.png) center no-repeat;
  background-size: contain;
}

@media (max-width: 1200px) {
  
  .catalog-products-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .catalog-product {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .sort-catalog-form {
    display: none;
  }
  .catalog-wrapper {
    width: 90%;
  }

  .catalog-product {
    width: 80%;
    min-width: 30rem;
  }
}