html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    //font-weight: 300;
    line-height: 1;
    color: $text-color;
    // font-family: Lato, Arial, sans-serif;
 }

 p,a,li { font-size: 1.4rem; }
 h1 { font-size: 3.9rem;   }
 h2 { font-size: 3.4rem; }
 h3 { font-size: 2.8rem;   }
 h4 { font-size: 1.8rem; }

 p {
     line-height: 1.4;
     font-size: 1.6rem;
 }