// Color variables
$text-color: #363636;
$red-color: #b6030f;
$orange-color: #f7941d;
$light-grey-text:#6d6d6d;
$light-grey-1: #ebebeb;
$light-grey-2: #f6f4f4;

$light-blue:#dfebf0; 
$green-color: #027468; 
$light-green:#a5d2cd;

// Icon variables

$icon-phone: '/img/icons/icon-phone.png';
$icon-mail: '/img/icons/icon-mail.png';
$icon-basket: '/img/icons/icon-basket.png';
$icon-profile: '/img/icons/icon-profile.png';
$icon-comparison: '/img/icons/icon-comparison.png';